{% extends 'base.html.twig' %} {% block title %}Hello ContactController!{%
endblock %} {% block body %}
<h1>Formulaire de réservation :</h1>

{{ form_start(form) }}
<div class="my-custom-class-for-errors">
  {{ form_errors(form) }}
</div>

<div class="contactForm">
  <div class="input">
    {{ form_row(form.date_debut) }}
  </div>
  <div class="input">
    {{ form_row(form.date_fin) }}
  </div>
</div>
{{ form_end(form) }}
{% endblock %}
