{% extends 'base.html.twig' %} {% block title %}Les établissements{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ asset('styles/etablissement.css') }}" />
{% endblock %}{% block body %}

<div class="container">
  <h1 class="title">Les suites :</h1>
  {% for suite in suites %}
  <a href="/suites/{{ suite.id }}">
    <p>{{ suite.titre }}</p>
    <p>{{ suite.prix }} €</p>
    <img src="{{ suite.image }}" alt="img_{{ suite.titre }}" srcset="" />
  </a>
  {% endfor %}
</div>

{% endblock %}
