{% extends 'base.html.twig' %} {% block title %}Les établissements{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ asset('styles/visiteur.css') }}" />
{% endblock %}{% block body %}

<div class="container">
  <h1 class="title">Les établissements :</h1>
  {% for etablissement in etablissements %}
  <a class="hotelLink" href="/etablissement/{{ etablissement.id }}">
    <div class="hotel">
      <div class="hoteTitle">{{ etablissement.nom }}</div>
      <div class="hotelAdress">
        {{ etablissement.adresse }},
        <span class="hotelCity"> {{ etablissement.ville }}</span>
      </div>
      <div class="hotelDesc">{{ etablissement.description }}</div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}
